<script setup lang="ts">
import { computed, ref } from 'vue';


const weight = ref(0)
const height = ref(0)
const result = computed(() => weight.value / Math.pow((height.value / 100), 2))
</script>

<template>
    <div style="margin: auto; width: 500px;">
        <div>
            <label>น้ำหนักตัว(kg.)</label>
            <input id="weight" type="text" v-model.number="weight" />
        </div>
        <div>
            <label for="height">ส่วนสูง(cm.)</label>
            <input id="height" type="text" v-model.number="height" />
        </div>
        <div style="text-align: center; font-size: 30px;" >BMI</div>
        <div style="text-align: center; font-size: 30px">{{ result.toFixed(2) }}</div>





    <table border="1">
        <tr >
            <th><strong>BMI kg/m<sup>2</sup></strong></th>
            <th><strong>อยู่ในเกณท์</strong></th>
            <th><strong>ภาวะเสี่ยงต่อโรค</strong></th>
        </tr>
        <tr :class="{ activate: result <18.5 ? true : false }">
            <td><span>น้อยกว่า 18.50</span></td>
            <td><span>น้ำหนักน้อย / ผอม</span></td>
            <td><span>มากกว่าคนปกติ</span></td>
        </tr>
        <tr :class="{ activate: result >=18.5 && result <= 22.9 ? true : false }">
            <td><span>ระหว่าง 18.50 - 22.90</span></td>
            <td><span>ปกติ (สุขภาพดี)</span></td>
            <td><span>เท่าคนปกติ</span></td>
        </tr>
        <tr :class="{ activate: result >=23 && result <= 24.9 ? true : false }">
            <td><span>ระหว่าง 23 - 24.90</span></td>
            <td><span>ท้วม / โรคอ้วนระดับ 1</span></td>
            <td><span>อันตรายระดับ 1</span></td>
        </tr>
        <tr :class="{ activate: result >=25 && result <= 29.9 ? true : false }">
            <td><span>ระหว่าง 25 - 29.90</span></td>
            <td><span>อ้วน / โรคอ้วนระดับ 2</span></td>
            <td><span>อันตรายระดับ 2</span></td>
        </tr>
        <tr :class="{ activate: result >=30 ? true : false }">
            <td><span>มากกว่า 30</span></td>
            <td><span>อ้วนมาก / โรคอ้วนระดับ 3</span></td>
            <td><span>อันตรายระดับ 3</span></td>
        </tr>
    </table>
</div>
</template>

<style scoped>
    .activate {
        background-color: #9896f0;
    }
    input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
</style>